.cart{
    background-color: #F0F0F0;
    overflow-x: hidden;
}

.cart-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .cart-list{
        background-color: white;
        padding: 10px;
    }
}