.footer-container {
  background: #F0F0F0;
  padding: 30px 0;
  font-size: 14px;
  color: #333;
  text-align: left;

  .container {
    max-width: 1200px;
    margin: 0 auto 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    h4 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 8px;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            color: #d81b60;
          }
        }
      }
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 10px;

    a {
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #d81b60;
      }
    }
  }

  .payment-methods {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;

    img {
      height: 30px;
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
}
