.suggest {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color:#33b564;
  }
  
  .suggest-background {
    background: url(../../assets/images/banner_suggest.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Chiều cao của banner */
    z-index: 1;
    background-color:#33b564;

  }
  
  .suggest-content {
    position: absolute;
    z-index: 2;
    margin-top: 150px; /* Tạo khoảng trống phía trên để không bị che lấp */
    background-color:#33b564;

  }